.nav__tabbar {
    padding-bottom: 50px;
  }
  .footer__group {
    width: 100%;
  }
  .nav__list {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
  }
  .nav__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 13px;
  }
  .nav__item-text{
      color: #99A2AD;
  }
  .nav__item-text--active{
  color: orange;
  }
  .vkuiSimpleCell--ios .vkuiSimpleCell__after .vkuiIcon--chevron_24{
    display: none;
  }
  .active{
    color: orange;
  }